<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
      integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      let objKeys = (obj) => {
        return Object.keys(obj);
      };
      let objValues = (obj) => {
        let keys = objKeys(obj);
        let values = [];
        for (let key of keys) {
          values.push(obj[key]);
        }

        return values;
      };
    </script>
    <style>
      .diag-containers {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      .pie-container {
        width: 31%;
      }

      .filters {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      .filter {
        margin: 5px;
        padding: 3px;
        width: auto;
        border: 1px solid black;
        border-radius: 5px;
      }

      .filter p {
        margin: 0;
      }

      .sections {
        display: flex;
        margin-bottom: 20px;
      }

      .section {
        margin: 0px 10px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }

      .section:hover {
        background-color: rgb(177, 203, 253);
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="sections">
        <p class="section" @click="updateSection('portrait', 'rus')">
          Портрет туриста рус
        </p>
        <p class="section" @click="updateSection('satisfaction', 'rus')">
          Уровень удовлетворения рус
        </p>
        <p class="section" @click="updateSection('portrait', 'eng')">
          Портрет туриста eng
        </p>
        <p class="section" @click="updateSection('satisfaction', 'rus')">
          Уровень удовлетворения eng
        </p>
      </div>
      <p>Данные на: {{ metadata.date }}</p>
      <p>Всего заполненных анкет: {{ metadata.count }}</p>
      <div class="filters">
        <chart_filter
          v-for="chart_filter in chart_filters"
          v-bind:chart_filter="chart_filter"
          v-bind:parent="parent"
          v-bind:key="chart_filter.name"
        ></chart_filter>
      </div>
      <div class="diag-containers">
        <pie
          v-for="chart in charts"
          class="pie-diag"
          v-bind:chart="chart"
          v-bind:key="chart.name"
        ></pie>
      </div>
    </div>
  </body>
  <script>
    Vue.component("pie", {
      props: ["chart"],
      data: () => {
        return {
          chart_canvas: null,
          data: null,
        };
      },
      template:
        '<div class="pie-container"><canvas :id="chart.name" ></canvas></div>',
      updated: function () {
        console.log(this.chart.data);
        this.chart_canvas.data.datasets[0].data = objValues(this.chart.data);
        this.chart_canvas.data.labels = objKeys(this.chart.data);
        this.chart_canvas.update();
      },
      mounted: function () {
        let name = this.chart.name;

        data = {
          labels: objKeys(this.chart.data),
          datasets: [
            {
              label: this.chart.name,
              data: objValues(this.chart.data),
              backgroundColor: [
                "rgb(255, 185, 221)",
                "rgb(31, 104, 169)",
                "rgb(255, 61, 100)",
                "rgb(255, 198, 54)",
                "rgb(84, 165, 32)",
                "rgb(237, 101, 169)",
                "rgb(112, 193, 175)",
                "rgb(186, 116, 179)",
                "rgb(255, 145, 161)",
                "rgb(255, 180, 108)",
                "rgb(132, 209, 238)",
                "rgb(190, 36, 67)",
              ],
            },
          ],
        };
        ctx = document.getElementById(name).getContext("2d");
        config = {
          type: "pie",
          data: data,
          options: {
            plugins: {
              legend: {
                position: "top",
              },
              title: {
                display: true,
                text: this.chart.name,
              },
            },
          },
        };
        myChart = new Chart(ctx, config);
        this.chart_canvas = myChart;
        this.data = data;
      },
    });
    Vue.component("chart_filter", {
      props: ["chart_filter", "parent"],
      data: () => {
        return {
          selected: "",
        };
      },
      template:
        "<div class='filter'><p>{{chart_filter.name}}</p><select v-model='selected' @change='updateSelected' :filter_name=chart_filter.name><option v-for='key in chart_filter.keys' :key='key.name'>{{ key }}</option></select></div>",
      methods: {
        updateSelected: function () {
          this.parent.app.updateFilter(this.chart_filter.name, this.selected);
        },
      },
    });

    var app = new Vue({
      el: "#app",
      data: {
        charts: [],
        chart_filters: [1, 2],
        parent: this,
        filter_params: {},
        section: "portrait",
        locale: "rus",
        query: "",
        metadata: {},
      },
      methods: {
        updateDate: function () {
          fetch(
            `http://localhost:8000/${this.section}/${this.locale}` +
              "?" +
              this.query
          )
            .then((response) => response.json())
            .then((result) => {
              this.charts = result;
              this.updateFilters();
              this.$forceUpdate();
            });
        },
        updateSection: function (section, locale) {
          this.section = section;
          this.locale = locale;
          this.filter_params = {};
          this.query = "";
          this.updateMetaData();
          this.updateDate();
        },
        updateMetaData: function () {
          fetch(`http://localhost:8000/metadata/${this.locale}`)
            .then((response) => response.json())
            .then((result) => {
              this.metadata = result;
              console.log(result);
            });
        },
        updateFilter: function (filter, value) {
          if (value == "-") {
            delete this.filter_params[filter];
          } else {
            this.filter_params[filter] = value;
          }
          let query = "";
          for (let key in this.filter_params) {
            let value = this.filter_params[key];
            query += `${key}=${value}&`;
          }
          this.query = query;
          this.updateDate();
        },
        updateFilters: function () {
          let satisfaction_filters = [
            "Время года",
            "Транспорт",
            "Длительность поездки",
            "Регион",
            "Понравилось ли Вам у нас",
          ];
          let portrait_filters = [
            "Время года",
            "Пол",
            "Возраст",
            "Семейное положение",
            "Есть ли дети",
          ];
          let cur_filters;
          if (this.section == "portrait") {
            cur_filters = portrait_filters;
          } else {
            cur_filters = satisfaction_filters;
          }
          this.chart_filters = [];
          for (let f of this.charts) {
            if (cur_filters.includes(f.name)) {
              this.chart_filters.push(f);
            }
          }
        },
      },

      created: function () {
        fetch(`http://localhost:8000/${this.section}/${this.locale}`)
          .then((response) => response.json())
          .then((result) => {
            this.charts = result;
            this.updateFilters();
            this.updateMetaData();
          });
      },
    });
  </script>
</html>
